import typer

from potent.commands._types import PlanJson
from potent.plan import Plan

app = typer.Typer()


@app.command()
def <NAME>(path: PlanJson):
    plan = Plan.model_validate_json(path.read_text())
